body{
    background: url(https://images.wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1920x1080.jpg) no-repeat center center fixed;
    background-size:cover;
    font-family: 'Caveat', cursive;
    color: aliceblue;
}
.rowHeight{
    height:300px;
}
h1{
    font-size:3.5em;
}
.bg{
    opacity:0.8;
}